[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ java }}
Environment=CATALINA_PID={{ install_dir }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ install_dir }}
Environment=CATALINA_BASE={{ install_dir }}
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ install_dir }}/bin/startup.sh
ExecStop={{ install_dir }}/bin/shutdown.sh

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
