[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ JAVA_HOME }}
Environment=CATALINA_PID={{ config }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ config }}
Environment=CATALINA_BASE={{ config }}
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ config }}/bin/startup.sh
ExecStop={{ config }}/bin/shutdown.sh

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
